<ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-tab-bar color="danger"> -->
    <ion-title color="light">
      Filipino
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
  <!-- </ion-tab-bar> -->
  </ion-toolbar>
</ion-header> 

<ion-content>
  <style>
    h4 {
      color:whitesmoke;
    }
    h2 {
      color:cadetblue;
    }
  </style>
  <ion-card>
    <ion-card-content>
        
      
        <h2>Question # 1 </h2>
      <ion-tab-bar color="success">
      <h4> Ito ay isang sangay ng linggwistika nasumasaklaw sa pag-aaral ng kayarian oistruktura ng salita. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,0)">
      <ion-item>
      <ion-label>Ortograpiya </ion-label>
      <ion-radio value="Ortograpiya" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Morpolohiya </ion-label>
      <ion-radio value="Morpolohiya" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Semantika </ion-label>
      <ion-radio value="Semantika" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Sintaks </ion-label>
      <ion-radio value="Sintaks" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 2 </h2>
      <ion-tab-bar color="success">
      <h4>“Lumilindol.” Anon uri ito ngpangungusap na walang tiyak na paksa? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,1)">
      <ion-item>
      <ion-label>Temporal </ion-label>
      <ion-radio value="Temporal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Eksistensyal </ion-label>
      <ion-radio value="Eksistensyal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Eksistensyal </ion-label>
      <ion-radio value="Eksistensyal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Modal </ion-label>
      <ion-radio value="Modal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 3 </h2>
      <ion-tab-bar color="success">
      <h4>Ibigay ang panlapi na ginamit sa mgasumusunod na salita kaligayahan,pagmamahalan pagkatiwalaan </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,2)">
      <ion-item>
      <ion-label>hulapi </ion-label>
      <ion-radio value="hulapi" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>tambalan </ion-label>
      <ion-radio value="tambalan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kabilaan </ion-label>
      <ion-radio value="kabilaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>laguhan </ion-label>
      <ion-radio value="laguhan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 4 </h2>
      <ion-tab-bar color="success">
      <h4>Anong bantas ang siyang inilalagay sapagitan ng unlaping “ika” at “tambilang”? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,3)">
      <ion-item>
      <ion-label>tuldok </ion-label>
      <ion-radio value="tuldok" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>panaklong </ion-label>
      <ion-radio value="panaklong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kuwit </ion-label>
      <ion-radio value="kuwit" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>gitling </ion-label>
      <ion-radio value="gitling" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 5 </h2>
      <ion-tab-bar color="success">
      <h4>Ayon kay Gleason, ang wika ay pinagkakasunduan ng isang lahi at kaya naman ay naunawaan ng lahat ng kasapi ng lahi. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,4)">
      <ion-item>
      <ion-label>masistema </ion-label>
      <ion-radio value="masistema" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>dinamiko </ion-label>
      <ion-radio value="dinamiko" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>likas </ion-label>
      <ion-radio value="likas" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>arbitraryo </ion-label>
      <ion-radio value="arbitraryo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 6 </h2>
      <ion-tab-bar color="success">
      <h4>Isang akda ni Padre Modesto de Castro na binubuo ng palitan ng liham ng dalawang magkapatid. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,5)">
      <ion-item>
      <ion-label>Urbana at Feliza </ion-label>
      <ion-radio value="Urbana at Feliza" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Barlaan at Josaphat </ion-label>
      <ion-radio value="Barlaan at Josaphat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Dasalan at Tocsoha </ion-label>
      <ion-radio value="Dasalan at Tocsoha" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Indarapatra at Sulayman </ion-label>
      <ion-radio value="Indarapatra at Sulayman" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 7 </h2>
      <ion-tab-bar color="success">
      <h4>Anong teorya ng wika ang nagsasabing ang wika ay nailikha bunga ng masidhing damdamin ng tao? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,6)">
      <ion-item>
      <ion-label>Bow-wow </ion-label>
      <ion-radio value="Bow-wow" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Pooh-pooh </ion-label>
      <ion-radio value="Pooh-pooh" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ding-dong </ion-label>
      <ion-radio value="Ding-dong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Yoheho </ion-label>
      <ion-radio value="Yoheho" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 8 </h2>
      <ion-tab-bar color="success">
      <h4>“Nahulog ang bata!” Anong uri ng pangungusap ayon sa kayarian ang pangungusap na ito? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,7)">
      <ion-item>
      <ion-label>padamdam </ion-label>
      <ion-radio value="padamdam" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pasalaysay </ion-label>
      <ion-radio value="pasalaysay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>payak </ion-label>
      <ion-radio value="payak" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>tambalan </ion-label>
      <ion-radio value="tambalan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 9 </h2>
      <ion-tab-bar color="success">
      <h4>Sa ponemang segmental, ano ang tinataglay ng mga salitang galaw, baliw lamay, kahoy? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,8)">
      <ion-item>
      <ion-label>ponema </ion-label>
      <ion-radio value="ponema" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>klaster </ion-label>
      <ion-radio value="klaster" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>diptonggo </ion-label>
      <ion-radio value="diptonggo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pares minimal </ion-label>
      <ion-radio value="pares minimal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 10 </h2>
      <ion-tab-bar color="success">
      <h4>Sa kasaysayan ng ating panitikan, ang kinikilalang Gintong Panahon ng Panitikan ng Pilipinas ay ang panahon ng______. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,9)">
      <ion-item>
      <ion-label>Amerikano </ion-label>
      <ion-radio value="Amerikano" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Hapones </ion-label>
      <ion-radio value="Hapones" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kastila </ion-label>
      <ion-radio value="Kastila" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kontemporaryo </ion-label>
      <ion-radio value="Kontemporaryo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 11 </h2>
      <ion-tab-bar color="success">
      <h4>Ang “Kodigo ni kalantiaw” ay naglalaman ng? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,10)">
      <ion-item>
      <ion-label>batas na dapat sundin ng mga mamamayan </ion-label>
      <ion-radio value="batas na dapat sundin ng mga mamamayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pamantayan para maayos na pamumuhay </ion-label>
      <ion-radio value="pamantayan para maayos na pamumuhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>batas ng kagandahang asal </ion-label>
      <ion-radio value="batas ng kagandahang asal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kasunduang pang – pangkalakalan </ion-label>
      <ion-radio value="kasunduang pang – pangkalakalan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 12 </h2>
      <ion-tab-bar color="success">
      <h4>Ang akdang hindi nauukol sa relihiyon noong panahon ng Kastila </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,11)">
      <ion-item>
      <ion-label>dalit </ion-label>
      <ion-radio value="dalit" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>panuluyan </ion-label>
      <ion-radio value="panuluyan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>senakulo </ion-label>
      <ion-radio value="senakulo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>panubog </ion-label>
      <ion-radio value="panubog" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 13 </h2>
      <ion-tab-bar color="success">
      <h4>Naglalaman ng mga butyl ng karunungangkinapapalooban ng mabuting payo hango satunay na karanasan ng ating mga ninuno. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,12)">
      <ion-item>
      <ion-label>bugtong </ion-label>
      <ion-radio value="bugtong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>talinghaga </ion-label>
      <ion-radio value="talinghaga" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>salawikain </ion-label>
      <ion-radio value="salawikain" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>palaisipan </ion-label>
      <ion-radio value="palaisipan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 14 </h2>
      <ion-tab-bar color="success">
      <h4>Ang Katotohanan inihayag sa awiting “Florante at Laura” ni Balagtas. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,13)">
      <ion-item>
      <ion-label>kahirapan sa buhay </ion-label>
      <ion-radio value="kahirapan sa buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>katiwalian ng mga Kastila </ion-label>
      <ion-radio value="katiwalian ng mga Kastila" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pag – iibigan ng mga magka – ibang lahi </ion-label>
      <ion-radio value="pag – iibigan ng mga magka – ibang lahi" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>buhay pangangalakal noon panahon ng Kastila </ion-label>
      <ion-radio value="buhay pangangalakal noon panahon ng Kastila" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 15 </h2>
      <ion-tab-bar color="success">
      <h4>pagsulat ng mga Pilipino ssa magasing “liwayway” nuong panahon ng Hapon </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,14)">
      <ion-item>
      <ion-label>malaya silang sumulat </ion-label>
      <ion-radio value="malaya silang sumulat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Walang takot silang sumulat </ion-label>
      <ion-radio value="Walang takot silang sumulat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>nabigyan ng pagpapahalaga ang sariling wika </ion-label>
      <ion-radio value="nabigyan ng pagpapahalaga ang sariling wika" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>mapayapa ang panahon </ion-label>
      <ion-radio value="mapayapa ang panahon" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 16 </h2>
      <ion-tab-bar color="success">
      <h4>Ang “Urbana at Felisa” na isinulat ni Modestode Castro, ay naglalaman ng magagandang asal ng mga Pilipino tungkol sa a. pakikipagkapwa, paggalang sa magulang at pagkilala sa Diyos </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,15)">
      <ion-item>
      <ion-label>magandang relasyon ng makakapatid </ion-label>
      <ion-radio value="magandang relasyon ng makakapatid" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagtupad ng tungkulin sa bayan </ion-label>
      <ion-radio value="pagtupad ng tungkulin sa bayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagharap sa pagsubok sa buhay </ion-label>
      <ion-radio value="pagharap sa pagsubok sa buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagkilala sa karapatan ng kapwa </ion-label>
      <ion-radio value="pagkilala sa karapatan ng kapwa" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 17 </h2>
      <ion-tab-bar color="success">
      <h4>Ano ang kahulugan na nais iparating ng talatang ito hango sa “Sa Bagong Paraiso” ni Efren Abueg?” At ang pamumulaklak at pamumunga ng manga, santol, sinegwelas at ng iba pang punungkahoy o halaman sa loobang iyon ay nagpatuloy. Ang damuhan ay natuyo at muling sinibulan ng bagong supling.” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,16)">
      <ion-item>
      <ion-label>Napakaganda ng mga tanawin sa lalawigan </ion-label>
      <ion-radio value="Napakaganda ng mga tanawin sa lalawigan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Panahon ng tag – araw </ion-label>
      <ion-radio value="Panahon ng tag – araw" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Patuloy ang paglipas ng panahon </ion-label>
      <ion-radio value="Patuloy ang paglipas ng panahon" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Malulusog ang pananim sa lalawigan </ion-label>
      <ion-radio value="Malulusog ang pananim sa lalawigan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 18 </h2>
      <ion-tab-bar color="success">
      <h4>Ano ang nais iparating ni Jose Rizal sa talatang ito hango sa kanyang “Noli Me Tangere”;”Mamatay akong di – man Nakita angmangingining na pagbubukang – liwayway saaking Inang Bayan. Kayong makakakita, batiinninyo siya at huwag kalilimutan ang mganalugmok sa dilim ng gabi.” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,17)">
      <ion-item>
      <ion-label> pagkawala ng pag-asa dahil sa mga nangyari sa bayan </ion-label>
      <ion-radio value=" pagkawala ng pag-asa dahil sa mga nangyari sa bayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pag-asa sa kalayaan at paggunita sa mga taong nagbuwis ng buhay para sa kalayaan </ion-label>
      <ion-radio value="pag-asa sa kalayaan at paggunita sa mga taong nagbuwis ng buhay para sa kalayaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagpapa-walang halaga sa paghihirap ng mga bayani. </ion-label>
      <ion-radio value="pagpapa-walang halaga sa paghihirap ng mga bayani." [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>malawakang kalungkutan nadarama sa pagkawala ng pag asa </ion-label>
      <ion-radio value="malawakang kalungkutan nadarama sa pagkawala ng pag asa" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 19 </h2>
      <ion-tab-bar color="success">
      <h4>Karaniwang tauhan ng akdang ito ay mga hayop na ang layunin ay ipa-alam ang mga kaugaliang dapat pamarisan. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,18)">
      <ion-item>
      <ion-label>tugmaan </ion-label>
      <ion-radio value="tugmaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>alamat </ion-label>
      <ion-radio value="alamat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pabula </ion-label>
      <ion-radio value="pabula" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>parabula </ion-label>
      <ion-radio value="parabula" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 20 </h2>
      <ion-tab-bar color="success">
      <h4>Sa mga saknong na ito hango sa “Florante atLaura” ni Balagtas, ano ang kahulugan nito? “Katiwala ako’t ang inyong kariktan;Kapilas ng langit, anaki’y matibay; Tapat ang puso mo’t di-nagunamgunam; Na ang paglililo’y nasa kagandahan” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,19)">
      <ion-item>
      <ion-label>Ang kagandahan ay maaaring makalinlang ng tao </ion-label>
      <ion-radio value="Ang kagandahan ay maaaring makalinlang ng tao" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Maaring pagtakpan ng kagandahan ang isang kataksilan </ion-label>
      <ion-radio value="Maaring pagtakpan ng kagandahan ang isang kataksilan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Pisikal na kagandahan ay maaring magpahiwatig rin ng kagandahang asal </ion-label>
      <ion-radio value="Pisikal na kagandahan ay maaring magpahiwatig rin ng kagandahang asal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kagandahan ay maari ring maging batayan ng pagtitiwala sa katapan ng tao </ion-label>
      <ion-radio value="Kagandahan ay maari ring maging batayan ng pagtitiwala sa katapan ng tao" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 21 </h2>
      <ion-tab-bar color="success">
      <h4>Anong ayos ng pantig and ginagamit sa salitang “daigdig”? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,20)">
      <ion-item>
      <ion-label>KPPKKPK </ion-label>
      <ion-radio value="KPPKKPK" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>KKPKPPK </ion-label>
      <ion-radio value="KKPKPPK" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>KPPPKPP </ion-label>
      <ion-radio value="KPPPKPP" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>LLPPKPP </ion-label>
      <ion-radio value="LLPPKPP" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 22 </h2>
      <ion-tab-bar color="success">
      <h4>Ang “Kodigo ni kalantiaw” ay naglalaman ng? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,21)">
      <ion-item>
      <ion-label>batas na dapat sundin ng mga mamamayan </ion-label>
      <ion-radio value="batas na dapat sundin ng mga mamamayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pamantayan para maayos na pamumuhay </ion-label>
      <ion-radio value="pamantayan para maayos na pamumuhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>batas ng kagandahang asal </ion-label>
      <ion-radio value="batas ng kagandahang asal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kasunduang pang – pangkalakalan </ion-label>
      <ion-radio value="kasunduang pang – pangkalakalan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 23 </h2>
      <ion-tab-bar color="success">
      <h4>Ang akdang hindi nauukol sa relihiyon noong panahon ng Kastila </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,22)">
      <ion-item>
      <ion-label>dalit </ion-label>
      <ion-radio value="dalit" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>panuluyan </ion-label>
      <ion-radio value="panuluyan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>senakulo </ion-label>
      <ion-radio value="senakulo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>panubog </ion-label>
      <ion-radio value="panubog" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 24 </h2>
      <ion-tab-bar color="success">
      <h4>Naglalaman ng mga butyl ng karunungang kinapapalooban ng mabuting payo hango sa tunay nakaranasan ng ating mga ninuno. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,23)">
      <ion-item>
      <ion-label>bugtong </ion-label>
      <ion-radio value="bugtong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>talinghaga </ion-label>
      <ion-radio value="talinghaga" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>salawikain </ion-label>
      <ion-radio value="salawikain" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>palaisipan </ion-label>
      <ion-radio value="palaisipan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 25 </h2>
      <ion-tab-bar color="success">
      <h4>Ang Katotohanan inihayag sa awiting“Florante at Laura” ni Balagtas. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,24)">
      <ion-item>
      <ion-label> kahirapan sa buhay </ion-label>
      <ion-radio value=" kahirapan sa buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>katiwalian ng mga Kastila </ion-label>
      <ion-radio value="katiwalian ng mga Kastila" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pag – iibigan ng mga magka – ibang lahi </ion-label>
      <ion-radio value="pag – iibigan ng mga magka – ibang lahi" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>buhay pangangalakal noon panahon ng Kastila </ion-label>
      <ion-radio value="buhay pangangalakal noon panahon ng Kastila" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 26 </h2>
      <ion-tab-bar color="success">
      <h4>Dahilan kong bakit nagging masigla ang pagsulat ng mga Pilipino ssa magasing “liwayway” nuong panahon ng Hapon. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,25)">
      <ion-item>
      <ion-label>malaya silang sumulat </ion-label>
      <ion-radio value="malaya silang sumulat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Walang takot silang sumulat </ion-label>
      <ion-radio value="Walang takot silang sumulat" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label> nabigyan ng pagpapahalaga ang sariling wika </ion-label>
      <ion-radio value=" nabigyan ng pagpapahalaga ang sariling wika" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>mapayapa ang panahon </ion-label>
      <ion-radio value="mapayapa ang panahon" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 27 </h2>
      <ion-tab-bar color="success">
      <h4>Ang “Urbana at Felisa” na isinulat ni Modesto de Castro, ay naglalaman ng magagandang asal ng mga Pilipino tungkol sa </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,26)">
      <ion-item>
      <ion-label>pakikipagkapwa, paggalang sa magulang at pagkilala sa Diyos </ion-label>
      <ion-radio value="pakikipagkapwa, paggalang sa magulang at pagkilala sa Diyos" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>magandang relasyon ng makakapatid </ion-label>
      <ion-radio value="magandang relasyon ng makakapatid" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagtupad ng tungkulin sa bayan </ion-label>
      <ion-radio value="pagtupad ng tungkulin sa bayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagharap sa pagsubok sa buhay </ion-label>
      <ion-radio value="pagharap sa pagsubok sa buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 28 </h2>
      <ion-tab-bar color="success">
      <h4>Hindi totoo ang katapangan na ipinapakita niVincent sa harap ni Lalie sapagkat BAHAG ANGBUNTOT niya sa harap ng paghihirap </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,27)">
      <ion-item>
      <ion-label>Matapang </ion-label>
      <ion-radio value="Matapang" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Matiyaga </ion-label>
      <ion-radio value="Matiyaga" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Duwag </ion-label>
      <ion-radio value="Duwag" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Malakas ang loob </ion-label>
      <ion-radio value="Malakas ang loob" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 29 </h2>
      <ion-tab-bar color="success">
      <h4>NAG-ALSA BALUTAN si Claudia dahil sa malimit umanong pananakit ni Reymar. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,28)">
      <ion-item>
      <ion-label>Lumayas </ion-label>
      <ion-radio value="Lumayas" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nagtampo </ion-label>
      <ion-radio value="Nagtampo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nagtago </ion-label>
      <ion-radio value="Nagtago" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nagmaktol </ion-label>
      <ion-radio value="Nagmaktol" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 30 </h2>
      <ion-tab-bar color="success">
      <h4>Ang ________________ ng mga Nars ay dininig ng komite kahapon. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,29)">
      <ion-item>
      <ion-label>Pakiusapan </ion-label>
      <ion-radio value="Pakiusapan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Pakikipag-usap </ion-label>
      <ion-radio value="Pakikipag-usap" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ipakiusap </ion-label>
      <ion-radio value="Ipakiusap" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Pakiusap </ion-label>
      <ion-radio value="Pakiusap" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 31 </h2>
      <ion-tab-bar color="success">
      <h4>Lumapit si Prink kay Eadji at sinabing, “__________ mo si Landon ng pagkain sa kusina.” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,30)">
      <ion-item>
      <ion-label>Utusan </ion-label>
      <ion-radio value="Utusan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kunin </ion-label>
      <ion-radio value="Kunin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kunan </ion-label>
      <ion-radio value="Kunan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Hanapan </ion-label>
      <ion-radio value="Hanapan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 32 </h2>
      <ion-tab-bar color="success">
      <h4>Nakatulog si Jana sa kanilang opisina dahil saHIMINGTING ng kapaligiran. Ano angkahulugan ng salita na nasa malalaking letra </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,31)">
      <ion-item>
      <ion-label>Kaingayan </ion-label>
      <ion-radio value="Kaingayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kapayapaan </ion-label>
      <ion-radio value="Kapayapaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Lakas ng hangin </ion-label>
      <ion-radio value="Lakas ng hangin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Katahimikan </ion-label>
      <ion-radio value="Katahimikan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 33 </h2>
      <ion-tab-bar color="success">
      <h4>Alin sa mga sumusunod na layunin ang nasa afektib domeyn? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,32)">
      <ion-item>
      <ion-label>Nakakabuo ng isang daayogo oganho sa taludutd ng isang tula </ion-label>
      <ion-radio value="Nakakabuo ng isang daayogo oganho sa taludutd ng isang tula" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Naibibigay ang sariling pananaw hingil sa isyong tinalakay </ion-label>
      <ion-radio value="Naibibigay ang sariling pananaw hingil sa isyong tinalakay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nahahango ang mensahe ng texto atnailalapat ito sa aktwal na buhay </ion-label>
      <ion-radio value="Nahahango ang mensahe ng texto atnailalapat ito sa aktwal na buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Natataya ang kaisiningan ngpagkakabuo ng pinapanood na pelikula </ion-label>
      <ion-radio value="Natataya ang kaisiningan ngpagkakabuo ng pinapanood na pelikula" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 34 </h2>
      <ion-tab-bar color="success">
      <h4>Alin sa mga sumusunod na set ng beheybyur ang nabibilang sa antas sintesis batay sa taksonomiya ng layunin ayon kay Bloom? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,33)">
      <ion-item>
      <ion-label>ilarawn, isalin, ipakahulugan </ion-label>
      <ion-radio value="ilarawn, isalin, ipakahulugan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ilapat, idayagram, tugunan </ion-label>
      <ion-radio value="Ilapat, idayagram, tugunan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Bumuo, balagkasin, pag-ugnayin </ion-label>
      <ion-radio value="Bumuo, balagkasin, pag-ugnayin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Suriin, pangatwiran, paghambingin </ion-label>
      <ion-radio value="Suriin, pangatwiran, paghambingin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 35 </h2>
      <ion-tab-bar color="success">
      <h4>Alin sa mga sumusunod na layunin ang may pinakamataas na antas? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,34)">
      <ion-item>
      <ion-label>Nailalapat ang kahalagahan ng textongbinasa sa sariling karanasan </ion-label>
      <ion-radio value="Nailalapat ang kahalagahan ng textongbinasa sa sariling karanasan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nasusuri ang kwento ayon sa mgaelement, dulog at alituntunin </ion-label>
      <ion-radio value="Nasusuri ang kwento ayon sa mgaelement, dulog at alituntunin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Natutukoy ang pangunahing ideya sa mga detalyeng nasa texto </ion-label>
      <ion-radio value="Natutukoy ang pangunahing ideya sa mga detalyeng nasa texto" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nakabubuo ng lagon mula sa nakasaadna impormasyon </ion-label>
      <ion-radio value="Nakabubuo ng lagon mula sa nakasaadna impormasyon" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 36 </h2>
      <ion-tab-bar color="success">
      <h4>Anong lawak ng kasanayan angtinutukoy sa sumusunod na implakasyongpandiskurso?“Sa pagpili, pagpaplano at pagtalakay ngguro sa mga aralin pag-aaralan,kailangang palaging isasalang-alang a=ngguro kung paano at saan magagamit anfmga impormasyon a kaalamang anatamosa anumang pag-aaral.” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,35)">
      <ion-item>
      <ion-label>Receptive area </ion-label>
      <ion-radio value="Receptive area" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Reflective area </ion-label>
      <ion-radio value="Reflective area" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Expressive area </ion-label>
      <ion-radio value="Expressive area" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Intensive area </ion-label>
      <ion-radio value="Intensive area" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 37 </h2>
      <ion-tab-bar color="success">
      <h4>Ano ang katotohanan sa likod ngkonsepto ng pagkakatuto ng wika? 1. kapag ang isang tao ay may likas na kakayahan 2. kung ito ay nagmumla sa isnag bungang panggagaya o panggagad ngpagsasalita 3. kung ito ay mula sa proseso ngpakikihalubilo sa kapwa4. kapag tinanggap o pinag-aralanito saklase sa akademikong paraan. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,36)">
      <ion-item>
      <ion-label>1 at 2 </ion-label>
      <ion-radio value="1 at 2" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>3 to 4 </ion-label>
      <ion-radio value="3 to 4" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>1, 2 at 3 </ion-label>
      <ion-radio value="1, 2 at 3" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>1, 2, 3 at 4 </ion-label>
      <ion-radio value="1, 2, 3 at 4" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 38 </h2>
      <ion-tab-bar color="success">
      <h4>Ang pangunahing tauhan sa patulang akdang kapampangan na pinagamatang “Ang Baho ng Central “ na isang amang mangingsda na namatayan ng anak bunga ng kahirapan dahil sa patuloy na pagdumi ng dagat na pinagkukunan niya ng ikinabubuhay </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,37)">
      <ion-item>
      <ion-label>Berto </ion-label>
      <ion-radio value="Berto" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Delfin </ion-label>
      <ion-radio value="Delfin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Imo </ion-label>
      <ion-radio value="Imo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Sendong </ion-label>
      <ion-radio value="Sendong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 39 </h2>
      <ion-tab-bar color="success">
      <h4>Isang akdang rehiyunal na tumutukoy sa mga dasal at kabutihang loob para sa buhay na walang hanggan kasama ang ilang panrelihiyong paniniwala ng Muslim </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,38)">
      <ion-item>
      <ion-label>Agyu </ion-label>
      <ion-radio value="Agyu" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Delfin </ion-label>
      <ion-radio value="Delfin" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Imo </ion-label>
      <ion-radio value="Imo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Sendong </ion-label>
      <ion-radio value="Sendong" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 40 </h2>
      <ion-tab-bar color="success">
      <h4>Ayon sa akdang bikol na pinamagatang “Piyon” ni Honesto M. Pesino, jr. ano angipinanalangin at sinasambit ng piyon n asana lunurin ng tubig sa timba sa timba? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,39)">
      <ion-item>
      <ion-label>kasalanan </ion-label>
      <ion-radio value="kasalanan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kasamaan </ion-label>
      <ion-radio value="kasamaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kahinaan </ion-label>
      <ion-radio value="kahinaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>kahirapan </ion-label>
      <ion-radio value="kahirapan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 41 </h2>
      <ion-tab-bar color="success">
      <h4>Ayon sa kwentong Pangasinan na pinamagatang “Gayuma ni Lolo Simeon” ni LeornardaCarrera, nagamit ba ni Felino ang gayuma sa panunuyo sa pagsungkit sa puso ni Celia? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,40)">
      <ion-item>
      <ion-label>Oo, kaya’t sa huli sila’y nagging mag-asawa </ion-label>
      <ion-radio value="Oo, kaya’t sa huli sila’y nagging mag-asawa" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Hindi, sapagkat binagabag siya ng kanyang konsensya </ion-label>
      <ion-radio value="Hindi, sapagkat binagabag siya ng kanyang konsensya" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Oo, upang mapagtagumpaya niya ang kanyang pagkatorpe sa dalaga </ion-label>
      <ion-radio value="Oo, upang mapagtagumpaya niya ang kanyang pagkatorpe sa dalaga" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Hindi, bagama’t pina ang binata hinggil ditto. </ion-label>
      <ion-radio value="Hindi, bagama’t pina ang binata hinggil ditto." [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 42 </h2>
      <ion-tab-bar color="success">
      <h4>Ibigay ang mensaheng haid ng sumusund na pahiwatig mula sa akdang Cebuano na “Paalam na sa Pagakabata” “Ang langit ay nasa tao, hinid nakikita, hindi nahihipo, hindi naabot.” </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,41)">
      <ion-item>
      <ion-label>Ang langit ay lugar na tao na itinuturing na paraiso </ion-label>
      <ion-radio value="Ang langit ay lugar na tao na itinuturing na paraiso" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ang langit ay nasa puso ng isang tao, ang kabutihang loob, kapayapaan ng isisp atkalinisan ng budhi ang kaganapan nito </ion-label>
      <ion-radio value="Ang langit ay nasa puso ng isang tao, ang kabutihang loob, kapayapaan ng isisp atkalinisan ng budhi ang kaganapan nito" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ang langit kailanman ay di makikita, mahihipo o maabot ng tao </ion-label>
      <ion-radio value="Ang langit kailanman ay di makikita, mahihipo o maabot ng tao" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ang langit ay inihanda para as tao at ito’y hindi makikita at maabot lalo na ng mga yaonghindi nararapat ditto. </ion-label>
      <ion-radio value="Ang langit ay inihanda para as tao at ito’y hindi makikita at maabot lalo na ng mga yaonghindi nararapat ditto." [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 43 </h2>
      <ion-tab-bar color="success">
      <h4>Ayon sa akdang “Tumanggap Ako ng mga bulaklak sa Araw na ito”, anong araw hulingtumanggap ng mga bulaklak ang tauhang nagsasalaysay sa tula? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,42)">
      <ion-item>
      <ion-label>Kaarawan </ion-label>
      <ion-radio value="Kaarawan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Anibersaryo </ion-label>
      <ion-radio value="Anibersaryo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Libing </ion-label>
      <ion-radio value="Libing" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Araw ng mga Ina </ion-label>
      <ion-radio value="Araw ng mga Ina" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 44 </h2>
      <ion-tab-bar color="success">
      <h4>Samakatuwid ang akdang “Tumanggap ako ng mga Bulaklak sa Araw na ito” ay isang____________. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,43)">
      <ion-item>
      <ion-label>Komedya </ion-label>
      <ion-radio value="Komedya" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Trahedya </ion-label>
      <ion-radio value="Trahedya" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Romansa </ion-label>
      <ion-radio value="Romansa" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Parsa </ion-label>
      <ion-radio value="Parsa" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 45 </h2>
      <ion-tab-bar color="success">
      <h4>Ayon sa kwentong “Ang Inang Anak” ni Thu Van ng Vietnam, ano ang ibig sabihin ng kamatayang “bat doc ky tu”? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,44)">
      <ion-item>
      <ion-label>Kamatayang parusa ng kasalanan </ion-label>
      <ion-radio value="Kamatayang parusa ng kasalanan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Pagtatakda ng kamatayan ayon guhit ng kapalara </ion-label>
      <ion-radio value="Pagtatakda ng kamatayan ayon guhit ng kapalara" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Paglilibot ng kaluluwa ng mga namamtay sa akdisdente hanggang sa araw ng talaga nilang kamatayan </ion-label>
      <ion-radio value="Paglilibot ng kaluluwa ng mga namamtay sa akdisdente hanggang sa araw ng talaga nilang kamatayan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Kamatayang biglaan at di napaghandaan </ion-label>
      <ion-radio value="Kamatayang biglaan at di napaghandaan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 46 </h2>
      <ion-tab-bar color="success">
      <h4>Kung susuriin an kwentong Asyano na “Mga Magnanakaw” ni Yanti Soebiakto, ito aynagpapamalas ng anong teoryang pampanitikan? </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,45)">
      <ion-item>
      <ion-label>Sikolohikal </ion-label>
      <ion-radio value="Sikolohikal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Sosyolohikal </ion-label>
      <ion-radio value="Sosyolohikal" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Markismo </ion-label>
      <ion-radio value="Markismo" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Dekontruksyon </ion-label>
      <ion-radio value="Dekontruksyon" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 47 </h2>
      <ion-tab-bar color="success">
      <h4>Ilarawan ang kwentong Asyano “Ang ikatlong Baytang” ni Shanon Ahmad. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,46)">
      <ion-item>
      <ion-label>Ito ay tungkol sa yugto ng pagsilang </ion-label>
      <ion-radio value="Ito ay tungkol sa yugto ng pagsilang" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ito ay tungkol sa yugto ng kamatayang </ion-label>
      <ion-radio value="Ito ay tungkol sa yugto ng kamatayang" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ito ay tungkol sa yugto ng buhay </ion-label>
      <ion-radio value="Ito ay tungkol sa yugto ng buhay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Ito ay tungkol sa yugto ng tagumpay </ion-label>
      <ion-radio value="Ito ay tungkol sa yugto ng tagumpay" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 48 </h2>
      <ion-tab-bar color="success">
      <h4>Itinuro ni Titser ang wika gamit ang pamamaraang na kung saan inilalahad niya sa mgamag-aaral ang proseso ng paggawa ng mungkahing pangkalakal pagkatapos ay nagtanongsiya ng tungkol dito. Ibigay ang layunin ng guro. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,47)">
      <ion-item>
      <ion-label>Nahihinuha ang paksa ng usapan </ion-label>
      <ion-radio value="Nahihinuha ang paksa ng usapan" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Natutukoy ang mahahalagang kasipan at pagtatanggal ng mga di-mahalaga </ion-label>
      <ion-radio value="Natutukoy ang mahahalagang kasipan at pagtatanggal ng mga di-mahalaga" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nakakalap ang mahahalagang impormasyonsa pamamagitan ng pagtatala </ion-label>
      <ion-radio value="Nakakalap ang mahahalagang impormasyonsa pamamagitan ng pagtatala" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>Nahihinuiha sa mga pahiwatag na impormasyon ang intension at saloobin ng tagapagsalita </ion-label>
      <ion-radio value="Nahihinuiha sa mga pahiwatag na impormasyon ang intension at saloobin ng tagapagsalita" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 49 </h2>
      <ion-tab-bar color="success">
      <h4>Si Jose ay masusing inaanalisa ang mga impormasyon napakinggan batay sa mgaebidesya o patunay. Kung gayon, taglay ng naturang mag-aaral ang ____________ . </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,48)">
      <ion-item>
      <ion-label>marginal o passive na pakikinig </ion-label>
      <ion-radio value="marginal o passive na pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>masigasig na pakikinig </ion-label>
      <ion-radio value="masigasig na pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>mapanuring pakikinig </ion-label>
      <ion-radio value="mapanuring pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>maglugod na pakikinig </ion-label>
      <ion-radio value="maglugod na pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br><h2>Question # 50 </h2>
      <ion-tab-bar color="success">
      <h4>Kapag ang mag-aaral ay may laton sa pakikinig na mahango ang kahulugan ng mensahe sa pamamagitan ng pag-unawa sa lahat ng datos panglingwistika, maituturing na siya ay gumagamit ng prosesong ___________. </h4>
      </ion-tab-bar>
      <ion-radio-group (ionChange)="getAns($event,49)">
      <ion-item>
      <ion-label>top down </ion-label>
      <ion-radio value="top down" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>bottom-up </ion-label>
      <ion-radio value="bottom-up" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label> aktibong pakikinig </ion-label>
      <ion-radio value=" aktibong pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      <ion-item>
      <ion-label>pagdinig vs. pakikinig </ion-label>
      <ion-radio value="pagdinig vs. pakikinig" [disabled]="answerSelected" ion slot="start"></ion-radio>
      </ion-item>
      </ion-radio-group>
      <br> <br>
      
    </ion-card-content>
  </ion-card>
</ion-content>
