<ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-tab-bar color="danger"> -->
    <ion-title color="light">
      English
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
  <!-- </ion-tab-bar> -->
  </ion-toolbar>
</ion-header> 

<ion-content>
  <style>
    h4 {
      color:whitesmoke;
    }
    h2 {
      color:cadetblue;
    }
  </style>

<ion-card>
  <ion-card-content>
    <h2>Question # 1 </h2>
<ion-tab-bar color="success">
<h4>Identify the play from which lines are taken: Will thou be gone? It is not yet near day. It was the nightingale, and not the lark The period the fearful hollow of thine ear; Nightly she sings on your pomegranate tree; Believe me, love, it was the nightingale </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,0)">
<ion-item>
<ion-label>Love’s Labour’s Lost </ion-label>
<ion-radio value="Love’s Labour’s Lost" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Othello </ion-label>
<ion-radio value="Othello" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Romeo and Juliet </ion-label>
<ion-radio value="Romeo and Juliet" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Cymbeline </ion-label>
<ion-radio value="Cymbeline " [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 2 </h2>
<ion-tab-bar color="success">
<h4>Identify the poem from which the following line are take: DRINK TO ME ONLY WITH THINE EYES.AND I WILL PLDGE WITH ME. OR LEAVE A KISS BUT IN THE CUP. AND I’LL NOT LOOK FOR WINE. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,1)">
<ion-item>
<ion-label>Song to Celia </ion-label>
<ion-radio value="Song to Celia" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Crossing the Bar </ion-label>
<ion-radio value="Crossing the Bar" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Ode to the West Wind </ion-label>
<ion-radio value="Ode to the West Wind" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>She was a Phantom of Delight </ion-label>
<ion-radio value="She was a Phantom of Delight" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 3 </h2>
<ion-tab-bar color="success">
<h4>Identify the poem from the lines are taken: Have glimpse that would make me less forlorn; Have sight of Proteus rising from the sea; Or hear old Triton blow is wreathed horn </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,2)">
<ion-item>
<ion-label>Auguries of Innocence </ion-label>
<ion-radio value="Auguries of Innocence" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>God Moves in a Mysterious Way </ion-label>
<ion-radio value="God Moves in a Mysterious Way" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Elegy Written in a Country Churchyard </ion-label>
<ion-radio value="Elegy Written in a Country Churchyard" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>The World is Too Much With Us </ion-label>
<ion-radio value="The World is Too Much With Us" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 4 </h2>
<ion-tab-bar color="success">
<h4>Identify the author of the poem torn which the following lines are taken: O is she rosely loved is she lovely rosed O is she lovely sung as sea-shells? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,3)">
<ion-item>
<ion-label>Fernando M. Maramag </ion-label>
<ion-radio value="Fernando M. Maramag" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Mauro Mendez </ion-label>
<ion-radio value="Mauro Mendez" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Natividad Marquaez </ion-label>
<ion-radio value="Natividad Marquaez" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Jose Garcia Villa </ion-label>
<ion-radio value="Jose Garcia Villa" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 5 </h2>
<ion-tab-bar color="success">
<h4>Who said, “These are the times that try men’s souls? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,4)">
<ion-item>
<ion-label>James Madison </ion-label>
<ion-radio value="James Madison" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Thomas Paine </ion-label>
<ion-radio value="Thomas Paine" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Benjamin Franklin </ion-label>
<ion-radio value="Benjamin Franklin" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Thomas Jefferson </ion-label>
<ion-radio value="Thomas Jefferson" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 6 </h2>
<ion-tab-bar color="success">
<h4>Who wrote the novel WAR AND PEACE? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,5)">
<ion-item>
<ion-label>Spencer </ion-label>
<ion-radio value="Spencer" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Turgenew </ion-label>
<ion-radio value="Turgenew" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Shaw </ion-label>
<ion-radio value="Shaw" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Tolstoy </ion-label>
<ion-radio value="Tolstoy" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 7 </h2>
<ion-tab-bar color="success">
<h4>Identify the play from which the lines are take: All that glitters is not gold; Often you have heard that told; Many a man his life hath sold But my outside to behold; Glided tombs do norms enfold. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,6)">
<ion-item>
<ion-label>MECHANT OF VENICE </ion-label>
<ion-radio value="MECHANT OF VENICE" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>HAMLET </ion-label>
<ion-radio value="HAMLET" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>AS YOU LIKE IT </ion-label>
<ion-radio value="AS YOU LIKE IT" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>MACBETH </ion-label>
<ion-radio value="MACBETH" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 8 </h2>
<ion-tab-bar color="success">
<h4>WHO SAID, “Ask not what tour country can do for you, but what you can do for you country?” </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,7)">
<ion-item>
<ion-label>Richard M. Nixon </ion-label>
<ion-radio value="Richard M. Nixon" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>John F. Kennedy </ion-label>
<ion-radio value="John F. Kennedy" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Dwight D. Eisenhower </ion-label>
<ion-radio value="Dwight D. Eisenhower" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Lyndon B. Johnson’ </ion-label>
<ion-radio value="Lyndon B. Johnson’" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 9 </h2>
<ion-tab-bar color="success">
<h4>Identify the poem from which the stanza is take: Trust no future, howe’er pleasant Let the dead Past bury its dead! Act-act in the living Present Heart within, and God o’erhead </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,8)">
<ion-item>
<ion-label>HYMN TO THE NIGHT </ion-label>
<ion-radio value="HYMN TO THE NIGHT" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>THE CROSS OF SHOW </ion-label>
<ion-radio value="THE CROSS OF SHOW" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>MY LOST YOUTH </ion-label>
<ion-radio value="MY LOST YOUTH" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>A PSALM OF LIFE </ion-label>
<ion-radio value="A PSALM OF LIFE" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 10 </h2>
<ion-tab-bar color="success">
<h4>What does William Norris want you to do in his ZIP THE LIP? If your lips would keep from slips. Five things observe with care; To whom you speak; of whom you speak And how, when, and where </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,9)">
<ion-item>
<ion-label>To be truthful </ion-label>
<ion-radio value="To be truthful" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>To be sincere </ion-label>
<ion-radio value="To be sincere" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>To show kindness </ion-label>
<ion-radio value="To show kindness" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>To observe confidentiality </ion-label>
<ion-radio value="To observe confidentiality" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 11 </h2>
<ion-tab-bar color="success">
<h4>Which of the theories of learning, language and literacy views children as having the ability relate new information to prior knowledge? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,10)">
<ion-item>
<ion-label>Constructivist </ion-label>
<ion-radio value="Constructivist" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Interactive </ion-label>
<ion-radio value="Interactive" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Reader response </ion-label>
<ion-radio value="Reader response" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Sociolinguistic </ion-label>
<ion-radio value="Sociolinguistic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 12 </h2>
<ion-tab-bar color="success">
<h4>What kind of word is TELECAST? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,11)">
<ion-item>
<ion-label>Blend </ion-label>
<ion-radio value="Blend" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Acronym </ion-label>
<ion-radio value="Acronym" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Borrowed </ion-label>
<ion-radio value="Borrowed" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Clipped </ion-label>
<ion-radio value="Clipped" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 13 </h2>
<ion-tab-bar color="success">
<h4>Which word should receive a high level /3/ in this sentence? SOMEONE IS LOOKING FOR HER. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,12)">
<ion-item>
<ion-label>Look </ion-label>
<ion-radio value="Look" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Someone </ion-label>
<ion-radio value="Someone" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Is looking </ion-label>
<ion-radio value="Is looking" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>non deabove </ion-label>
<ion-radio value="non deabove" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 14 </h2>
<ion-tab-bar color="success">
<h4>Which of the theories of learning, language and literacy emphasizes comprehension as students read </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,13)">
<ion-item>
<ion-label>Reader Response </ion-label>
<ion-radio value="Reader Response" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Constructivist </ion-label>
<ion-radio value="Constructivist" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Interactive </ion-label>
<ion-radio value="Interactive" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Sociolinguistic </ion-label>
<ion-radio value="Sociolinguistic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 15 </h2>
<ion-tab-bar color="success">
<h4>Which of the theories of learning, language and literacy views children as to having the ability to organize and integrate information is schemata? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,14)">
<ion-item>
<ion-label>Constructivist </ion-label>
<ion-radio value="Constructivist" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Reader Response </ion-label>
<ion-radio value="Reader Response" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Sociolinguistic </ion-label>
<ion-radio value="Sociolinguistic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Interactive </ion-label>
<ion-radio value="Interactive" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 16 </h2>
<ion-tab-bar color="success">
<h4>Which integrates the other LANGUAGE ARTS? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,15)">
<ion-item>
<ion-label>Listening </ion-label>
<ion-radio value="Listening" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Reading </ion-label>
<ion-radio value="Reading" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Talking </ion-label>
<ion-radio value="Talking" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Writing </ion-label>
<ion-radio value="Writing" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 17 </h2>
<ion-tab-bar color="success">
<h4>Which reading and writing SKILL is readingand making graphs? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,16)">
<ion-item>
<ion-label>Study </ion-label>
<ion-radio value="Study" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Language </ion-label>
<ion-radio value="Language" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Reference </ion-label>
<ion-radio value="Reference" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Decoding </ion-label>
<ion-radio value="Decoding" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 18 </h2>
<ion-tab-bar color="success">
<h4>What is the taxonomic stage of this behavior? MATCH FAMILIAR VOCABULARY WORDS IN SENTENCES WITH CORRECT DEFINITIONS </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,17)">
<ion-item>
<ion-label>Mechanical Skills Perception </ion-label>
<ion-radio value="Mechanical Skills Perception" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Communication Comprehension </ion-label>
<ion-radio value="Communication Comprehension" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Knowledge Recognition </ion-label>
<ion-radio value="Knowledge Recognition" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Transfer Reception </ion-label>
<ion-radio value="Transfer Reception" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 19 </h2>
<ion-tab-bar color="success">
<h4>What system do students use in capitalization and punctuation rules? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,18)">
<ion-item>
<ion-label>Pragmatic </ion-label>
<ion-radio value="Pragmatic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Phonological </ion-label>
<ion-radio value="Phonological" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Semantic </ion-label>
<ion-radio value="Semantic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Syntactic </ion-label>
<ion-radio value="Syntactic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 20 </h2>
<ion-tab-bar color="success">
<h4>Which gives the television an EDGE over print media? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,19)">
<ion-item>
<ion-label>Proximity </ion-label>
<ion-radio value="Proximity" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Visual </ion-label>
<ion-radio value="Visual" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Color </ion-label>
<ion-radio value="Color" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Motion </ion-label>
<ion-radio value="Motion" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 21 </h2>
<ion-tab-bar color="success">
<h4>Below is a sentence from DON QUIXOTE: In a village of La Mancha a name of which I have no desire to recall, there lived not so long ago one of those gentlemen who always have a lance in the rock, an ancient buckles, a skinny nag and a greyhound…. Which question should you ask if you reading it at a LITERAL LEVEL? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,20)">
<ion-item>
<ion-label>Is there a figurative language used? </ion-label>
<ion-radio value="Is there a figurative language used?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Which word will lown? </ion-label>
<ion-radio value="Which word will lown?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>What are the figurative language and sound techniques used? </ion-label>
<ion-radio value="What are the figurative language and sound techniques used?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Which technique creates humor? </ion-label>
<ion-radio value="Which technique creates humor?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 22 </h2>
<ion-tab-bar color="success">
<h4>After reading the poem at the THIRD LEVEL, which question should be asked? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,21)">
<ion-item>
<ion-label>What were their transformations after 25 years? </ion-label>
<ion-radio value="What were their transformations after 25 years?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Who is speaking in the poem? </ion-label>
<ion-radio value="Who is speaking in the poem?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>What happened during the reunion? </ion-label>
<ion-radio value="What happened during the reunion?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>What is meant by the comparison under the skin/ our skull rise /to the surface/ like rocks in the bed/ of a drying stream”? </ion-label>
<ion-radio value="What is meant by the comparison under the skin/ our skull rise /to the surface/ like rocks in the bed/ of a drying stream”?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 23 </h2>
<ion-tab-bar color="success">
<h4>Which question should be asked when the poem is read at the FIRST LEVEL? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,22)">
<ion-item>
<ion-label>Who attended the 25th high school reunion? </ion-label>
<ion-radio value="Who attended the 25th high school reunion?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>What language is used in the poem? </ion-label>
<ion-radio value="What language is used in the poem?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Why were their faces as sharp and pointed as the rocks? </ion-label>
<ion-radio value="Why were their faces as sharp and pointed as the rocks?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>To what are the once-young students compared? </ion-label>
<ion-radio value="To what are the once-young students compared?" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 24 </h2>
<ion-tab-bar color="success">
<h4>Which is the lowest of comprehension? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,23)">
<ion-item>
<ion-label>critical comprehension </ion-label>
<ion-radio value="critical comprehension" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>critical evaluation </ion-label>
<ion-radio value="critical evaluation" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>literal comprehension </ion-label>
<ion-radio value="literal comprehension" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>integration </ion-label>
<ion-radio value="integration" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 25 </h2>
<ion-tab-bar color="success">
<h4>Which is the highest level of comprehension? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,24)">
<ion-item>
<ion-label>Literal comprehension </ion-label>
<ion-radio value="Literal comprehension" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Critical evaluation </ion-label>
<ion-radio value="Critical evaluation" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Critical comprehension </ion-label>
<ion-radio value="Critical comprehension" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Integration </ion-label>
<ion-radio value="Integration" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 26 </h2>
<ion-tab-bar color="success">
<h4>What rhythmical device is used in this line from Latorena’s The Small Key? “…even the low square nipa house that stood in unashamed reliefagainst the gray green haze of grass and leaves.” </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,25)">
<ion-item>
<ion-label>alliteration </ion-label>
<ion-radio value="alliteration" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>assonance </ion-label>
<ion-radio value="assonance" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>consonance </ion-label>
<ion-radio value="consonance" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>anaphora </ion-label>
<ion-radio value="anaphora" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 27 </h2>
<ion-tab-bar color="success">
<h4>What sense image is used in this line from Latorena’s The Small Key? “There were dark, newly plowed furrows where in due time timorous seedlings would rise to sturdy stalks and golden grain, to a rippling yellow sea in the wind and sun during harvest time. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,26)">
<ion-item>
<ion-label>tactile </ion-label>
<ion-radio value="tactile" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>olfactory </ion-label>
<ion-radio value="olfactory" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>visual </ion-label>
<ion-radio value="visual" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>auditory </ion-label>
<ion-radio value="auditory" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 28 </h2>
<ion-tab-bar color="success">
<h4>“Soledad nodded. Her eyes followed her husband down the road, noting the fine set of his head and shoulders, the ease of his stride. A strange ache rose in her throat.” Which emotion best describes Soledad’s feelings in this excerpt from Latorena’s The Small Key? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,27)">
<ion-item>
<ion-label>fervent desire </ion-label>
<ion-radio value="fervent desire" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>discomfort from sore throat </ion-label>
<ion-radio value="discomfort from sore throat" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>instinctive suspicion </ion-label>
<ion-radio value="instinctive suspicion" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>twinge of sadness </ion-label>
<ion-radio value="twinge of sadness" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 29 </h2>
<ion-tab-bar color="success">
<h4>What figure of speech is used in this lastparagraph from Latorena’s The Small Key? “How quiet and peaceful the day was! A cow that had strayed by looked over her shoulder with a round vague inquiry and went on chewing her cud, blissfully unaware of such things as a gnawing fear in the heart of a woman and a still smoldering resentment in a man’s.” </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,28)">
<ion-item>
<ion-label>irony </ion-label>
<ion-radio value="irony" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>simile </ion-label>
<ion-radio value="simile" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>personification </ion-label>
<ion-radio value="personification" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>metaphor </ion-label>
<ion-radio value="metaphor" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 30 </h2>
<ion-tab-bar color="success">
<h4>Alfredo Salazar undergoes epiphany at the end of Marquez-Benitez’ story. What does epiphany mean? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,29)">
<ion-item>
<ion-label>regret </ion-label>
<ion-radio value="regret" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>insight </ion-label>
<ion-radio value="insight" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>freedom </ion-label>
<ion-radio value="freedom" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>confusion </ion-label>
<ion-radio value="confusion" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 31 </h2>
<ion-tab-bar color="success">
<h4>What does the poem celebrate as shown in line 1-2? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,30)">
<ion-item>
<ion-label>sadness in death </ion-label>
<ion-radio value="sadness in death" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>reverence for nature </ion-label>
<ion-radio value="reverence for nature" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>familial bonding </ion-label>
<ion-radio value="familial bonding" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>sense of foreboding </ion-label>
<ion-radio value="sense of foreboding" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 32 </h2>
<ion-tab-bar color="success">
<h4>What does the persona wish in the last two lines? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,31)">
<ion-item>
<ion-label>that he continues to be pious </ion-label>
<ion-radio value="that he continues to be pious" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>that he be a child once again </ion-label>
<ion-radio value="that he be a child once again" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>that he continues to be connected to nature </ion-label>
<ion-radio value="that he continues to be connected to nature" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>that he fulfills his duties and responsibilities </ion-label>
<ion-radio value="that he fulfills his duties and responsibilities" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 33 </h2>
<ion-tab-bar color="success">
<h4>What figure of speech does Wordsworth use in line 7? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,32)">
<ion-item>
<ion-label>paradox </ion-label>
<ion-radio value="paradox" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>metonymy </ion-label>
<ion-radio value="metonymy" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>oxymoron </ion-label>
<ion-radio value="oxymoron" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>allusion </ion-label>
<ion-radio value="allusion" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 34 </h2>
<ion-tab-bar color="success">
<h4>What type of irony does Shakespeare use in Anthony’s speech? When that the poor have cried, Caesar hath wept: Ambition should be made of sterner stuff: Yet Brutus says he was ambitious; And Brutus is an honourable man. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,33)">
<ion-item>
<ion-label>dramatic irony </ion-label>
<ion-radio value="dramatic irony" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>causal irony </ion-label>
<ion-radio value="causal irony" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>irony of situation </ion-label>
<ion-radio value="irony of situation" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>verbal irony </ion-label>
<ion-radio value="verbal irony" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 35 </h2>
<ion-tab-bar color="success">
<h4>What do the following lines from William Blake exhort? To see a World in a Grain of Sand And a Heaven in a Wild Flower, Hold Infinity in the palm of your hand And Eternity in an hour. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,34)">
<ion-item>
<ion-label>to appreciate even the smallest of things </ion-label>
<ion-radio value="to appreciate even the smallest of things" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>to be extremely imaginative and creative </ion-label>
<ion-radio value="to be extremely imaginative and creative" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>to believe in fantasy like a child </ion-label>
<ion-radio value="to believe in fantasy like a child" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>to be strong and faithful to God </ion-label>
<ion-radio value="to be strong and faithful to God" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 36 </h2>
<ion-tab-bar color="success">
<h4>How does Shelley regard the west wind in the following ode? From Ode to the West Wind Her clarion o'er the dreaming earth, and fill (Driving sweet buds like flocks to feed in air฀) With living hues and odours plain and hill: Wild Spirit, which art moving everywhere; Destroyer and Preserver; hear, oh, hear! </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,35)">
<ion-item>
<ion-label>It is responsible for preserving life. </ion-label>
<ion-radio value="It is responsible for preserving life." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>It can both wipe out and maintain life. </ion-label>
<ion-radio value="It can both wipe out and maintain life." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>It is a wild spirit in nature that is verystrong. </ion-label>
<ion-radio value="It is a wild spirit in nature that is verystrong." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>It is strong but weak since it is everywhere. </ion-label>
<ion-radio value="It is strong but weak since it is everywhere." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 37 </h2>
<ion-tab-bar color="success">
<h4>How does the speaker picture God in the following sermon? The God that holds you over the pit of hell, much as one holds a spider; or some loathsome insect, over the fire, abhors you, and is dreadfully provoked: his wrath towards you burns like fire; he looks upon you as worthy of nothing else, but to be cast into the fire; he is of purer eyes than to bear to have you in his sight; you are ten thousand times more abominable in his eyes, than the most hateful venomous serpent is in ours. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,36)">
<ion-item>
<ion-label>incensed </ion-label>
<ion-radio value="incensed" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>abominable </ion-label>
<ion-radio value="abominable" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>abominable </ion-label>
<ion-radio value="abominable" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>vengeful </ion-label>
<ion-radio value="vengeful" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 38 </h2>
<ion-tab-bar color="success">
<h4>Paradise Lost is considered among the greatest epics in English. Which of the following was the basis for this epic poem? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,37)">
<ion-item>
<ion-label>treachery of Judas Iscariot </ion-label>
<ion-radio value="treachery of Judas Iscariot" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>the passion of Christ </ion-label>
<ion-radio value="the passion of Christ" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>fall from God’s grace </ion-label>
<ion-radio value="fall from God’s grace" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>sinning of Adam and Eve </ion-label>
<ion-radio value="sinning of Adam and Eve" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 39 </h2>
<ion-tab-bar color="success">
<h4>What does the speaker mean in the following lines? “Let’s so persevere That when we live no more, we may live ever” From To My Dear and Loving Husband </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,38)">
<ion-item>
<ion-label>Let’s continue writing poetry to immortalize us. </ion-label>
<ion-radio value="Let’s continue writing poetry to immortalize us." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Let’s have faith in God and He will keep us alive </ion-label>
<ion-radio value="Let’s have faith in God and He will keep us alive" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Let’s be true to our love, and we will be joined in eternity </ion-label>
<ion-radio value="Let’s be true to our love, and we will be joined in eternity" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Let’s have lots of children to remember us when we die. </ion-label>
<ion-radio value="Let’s have lots of children to remember us when we die." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 40 </h2>
<ion-tab-bar color="success">
<h4>Which of the following is NOT an example of Gothic literature? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,39)">
<ion-item>
<ion-label>Dracula </ion-label>
<ion-radio value="Dracula" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Lord of the Rings </ion-label>
<ion-radio value="Lord of the Rings" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Frankenstein </ion-label>
<ion-radio value="Frankenstein" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Tell Tale Heart </ion-label>
<ion-radio value="Tell Tale Heart" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 41 </h2>
<ion-tab-bar color="success">
<h4>What does the speaker celebrate in “The Soul Selects her own Society”? The soul selects her own society, Then shuts the door; On her divine majority Obtrude no more. </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,40)">
<ion-item>
<ion-label>conformity </ion-label>
<ion-radio value="conformity" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>community </ion-label>
<ion-radio value="community" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>life and freedom </ion-label>
<ion-radio value="life and freedom" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>self-imposed isolation </ion-label>
<ion-radio value="self-imposed isolation" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 42 </h2>
<ion-tab-bar color="success">
<h4>What do the following lines reveal about theworld? All the world’s a stage, and all the men and women merely players. They have their exits and their entrances; And one man in his time plays manyparts - (As You Like It, Act II, Scene VII) </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,41)">
<ion-item>
<ion-label>Life is just like going to the theater </ion-label>
<ion-radio value="Life is just like going to the theater" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>People have different roles to play in life </ion-label>
<ion-radio value="People have different roles to play in life" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Life is but an empty, senseless dream </ion-label>
<ion-radio value="Life is but an empty, senseless dream" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>People live and die at different times. </ion-label>
<ion-radio value="People live and die at different times." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 43 </h2>
<ion-tab-bar color="success">
<h4>What truth about humans do the followinglines from A Noiseless Patient Spider reveal? And you, O my Soul, where you stand, Surrounded, surrounded, in measureless oceans of space, Ceaselessly musing, venturing, throwing,--seeking the spheres, to connect them; Till the bridge you will need, be form'd--till the ductile anchor hold; Till the gossamer thread you fling, catch somewhere, O my Sou </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,42)">
<ion-item>
<ion-label>People need food and shelter </ion-label>
<ion-radio value="People need food and shelter" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>People search for their meaning </ion-label>
<ion-radio value="People search for their meaning" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>People need friends and families </ion-label>
<ion-radio value="People need friends and families" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>People endlessly seek to create </ion-label>
<ion-radio value="People endlessly seek to create" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 44 </h2>
<ion-tab-bar color="success">
<h4>Which of the following is the resounding theme of contemporary stories like Hemingway’s A Clean and Well Lighted Place and Anderson’s Hands? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,43)">
<ion-item>
<ion-label>alienation from the society </ion-label>
<ion-radio value="alienation from the society" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>melancholia in solitude </ion-label>
<ion-radio value="melancholia in solitude" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>respect for the old </ion-label>
<ion-radio value="respect for the old" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>contentment in life </ion-label>
<ion-radio value="contentment in life" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 45 </h2>
<ion-tab-bar color="success">
<h4>Who is alluded to as the Captain in the following lines from Whitman’s poem?O captain! My Captain! Our fearful trip is done, The ship has weather’d every rack, the prize wesought is won </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,44)">
<ion-item>
<ion-label>Abraham Lincoln </ion-label>
<ion-radio value="Abraham Lincoln" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>George Washington </ion-label>
<ion-radio value="George Washington" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>John F. Kennedy </ion-label>
<ion-radio value="John F. Kennedy" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Thomas Jefferson </ion-label>
<ion-radio value="Thomas Jefferson" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 46 </h2>
<ion-tab-bar color="success">
<h4>In the passage, which of the following best describes the speaker's attitude toward the very rich? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,45)">
<ion-item>
<ion-label>He finds their pessimism alarming and unwarranted. </ion-label>
<ion-radio value="He finds their pessimism alarming and unwarranted." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>He finds them so different from the rest of society </ion-label>
<ion-radio value="He finds them so different from the rest of society" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>yC. He believes that the rich know more than others do. </ion-label>
<ion-radio value="yC. He believes that the rich know more than others do." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>He thinks that he understands their way of life </ion-label>
<ion-radio value="He thinks that he understands their way of life" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 47 </h2>
<ion-tab-bar color="success">
<h4>What is the tone of the speaker in the previous passage? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,46)">
<ion-item>
<ion-label>Optimistic </ion-label>
<ion-radio value="Optimistic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Laconic </ion-label>
<ion-radio value="Laconic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Pessimistics </ion-label>
<ion-radio value="Pessimistics" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Pessimistic </ion-label>
<ion-radio value="Pessimistic" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 48 </h2>
<ion-tab-bar color="success">
<h4>. What do the novels of Bronte, Eliot, Gaskell and Dickens reveal about fiction produced during the Victorian period in English Literature </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,47)">
<ion-item>
<ion-label>They closely represent the real social life of the times </ion-label>
<ion-radio value="They closely represent the real social life of the times" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>The novels were long and full of psychological musings </ion-label>
<ion-radio value="The novels were long and full of psychological musings" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>They concentrate on the effect of industrialization on cities </ion-label>
<ion-radio value="They concentrate on the effect of industrialization on cities" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>They were largely produced by upper middle-class women. </ion-label>
<ion-radio value="They were largely produced by upper middle-class women." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 49 </h2>
<ion-tab-bar color="success">
<h4>. What do the last two lines from Freneau’s The Wild Honeysuckle reveal about life? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,48)">
<ion-item>
<ion-label>Life is just an hour </ion-label>
<ion-radio value="Life is just an hour" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Life is frail. </ion-label>
<ion-radio value="Life is frail." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Life is short. </ion-label>
<ion-radio value="Life is short." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>It is like a flower </ion-label>
<ion-radio value="It is like a flower" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br><h2>Question # 50 </h2>
<ion-tab-bar color="success">
<h4>What do the following lines from Wordsworth’s Psalm of Life reveal about heroes and heroism? </h4>
</ion-tab-bar>
<ion-radio-group (ionChange)="getAns($event,49)">
<ion-item>
<ion-label>Anybody can be a hero. </ion-label>
<ion-radio value="Anybody can be a hero." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Heroes are often forgotten.. </ion-label>
<ion-radio value="Heroes are often forgotten.." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Heroes are easy to find </ion-label>
<ion-radio value="Heroes are easy to find" [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
<ion-item>
<ion-label>It is easy to do heroic acts. </ion-label>
<ion-radio value="It is easy to do heroic acts." [disabled]="answerSelected" ion slot="start"></ion-radio>
</ion-item>
</ion-radio-group>
<br><br>
  </ion-card-content>
</ion-card>
</ion-content>
