<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-bar color="danger">
      <ion-title color="light">Home</ion-title>
  </ion-tab-bar>
    <ion-buttons slot="start"><ion-menu-button menu="letexam-menu"></ion-menu-button></ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="warning">
  <ion-card-content>
  <ion-card>
      <img src="../assets/BOOKS.jpeg" width="600" height="550">
      <ion-button href="gen-ed" (click) = "saveLevel()">Elementary Level</ion-button>
      <ion-button href="gen-ed" (click) = "saveLevels()">Secondary Level</ion-button>
    </ion-card>
  </ion-card-content>
</ion-content>
